<div class="container">
	<div class="col6">
		<% @items.each do |item| %>
			<div class="checkout-item">
			<%= image_tag(item.image, :class => "checkout-item-image") %>
			<%= link_to "Remove Item", method: "delete", class: "delete-button" %>
		  <h3 class="cart-item-name"><%= item.name %></h3>
		  <h3 class="cart-item-price">$<%= item.price %>.00</h3>
		  <p class="itemquantity-checkout">Quantity:</p>
    	<%= form_tag '/add' do %>
      <%= select_tag(:quantity, options_for_select(1..20), :class=> "select") %>
      <%= hidden_field_tag(:item_id, params[:id]) %>
      <% end %>
		  </div>
		<% end %>
			
		<div class="summary">
      <ul>
        <li>Quantity: <%= @cart.total_quantity %></li>
        <li>Total price: $<%= @cart.total_price %>.00</li>
        <button>Checkout</button>
      </ul>
    </div>
	</div>
</div>