<div class="container">
  <div class="container">
    <% @items.each do |item| %>
      <div class="item col4">
	<%= item.price %>
	<%= item.name %>
	<%= image_tag(item.image) %>
	<%= item.item_number %>
	<%= link_to 'Show', item %>
	<%= link_to 'Add to cart', "/add?item_id=#{item.id}", method: 'post' %>
      </div>
    <% end %>
  </div>
  <br>

  <%= link_to 'New Item', new_item_path %>
