<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="itempageimage">
  <%= image_tag(@item.image) %>
  </div>


  <div class="itemdetails">

    <p class="itemname">
      <strong><%= @item.name %></strong>
    </p>

    <p class="itemprice" style="display:inline">
      $<%= @item.price %>.00
    </p>

    <p class="itemnumber" style="display:inline">
      Item #: <%= @item.item_number %>
    </p>

    <p class="itemquantity">Quantity:</p>
    <%= form_tag '/add' do %>
      <%= select_tag(:quantity, options_for_select(1..20)) %>
      <%= hidden_field_tag(:item_id, params[:id]) %>

    <p class="itemdescription">
      <strong>Description:</strong>
      <%= @item.description %>
    </p>

    <%= submit_tag :submit, :value => "Add to cart",  class: "submitbutton" %>
    <% end %>
  </div>

  <ul class="relateditems">
    <li class="relateditem1"><%= @random1.name %>
    <%= image_tag(@random1.image) %></li>
    <li class="relateditem2"><%= @random2.name %>
    <%= image_tag(@random2.image) %></li>
    <li class="relateditem3"><%= @random3.name %>
    <%= image_tag(@random3.image) %></li>
  </ul>

</div>


