<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="nav">
      <ul class="navbar">
      	<li class="nav-item"><%= link_to "Home", root_path %></li> |
      	<li class="nav-item">About</li> |
      	<li class="nav-item"><%= link_to "My Cart", cart_path %></li>
      	<li class="nav-item cart">Drag onto me!</li>
      </ul>
    </div>
    <%= yield %>

  </body>
</html>
